$primary-color: #529d67;
$secondary-color: #000000;

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
  color: $secondary-color;
  background: $primary-color;
}

img {
  width: 10%;
  height: auto;
  display: block;
  margin: 5% auto 0;
}

h1 {
  margin-top: 0.5%;
  margin-bottom: 2%;
  text-align: center;
}

a, a:hover, a:visited {
  color: $primary-color;
}

.form-control {
  width: 50%;
}

.btn, .btn:focus, .btn:active {
  background: $secondary-color !important;
  color: $primary-color !important;
}

.btn:hover {
  background: $primary-color !important;
  color: $secondary-color !important;
}

.well {
  width: 40%;
  height: 400px;
  margin-left: 30%;
  padding: 20px 50px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  overflow: scroll;
}

#search {
  margin-top: 10px;
  text-align: center;
}

#start {
  margin-top: 30px;
  text-align: center;
}

#output {
  margin-top: 30px;
}
